.pw-content ul.bookmarks {
	margin: 1em 0;
}

.pw-content ul.bookmarks li {
	margin: 0;
}
.pw-content ul.bookmarks li.separator {
	border-top: 1px solid #eee;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

.pw-content ul.bookmarks li .role-name {
	float: right; 
}