/**
 * Ensures submit button doesn't end up floated (related to GitHub issue #95)
 *
 */ 
#ProcessPageEditContent + ul.Inputfields {
	clear: both; 
}

/**
 * Don't show the save buttons when on the delete tab
 *
 * This works because WireTabs adds class names equal to the ID of the selected tab to the tab target container
 *
 */
.ProcessPageEditDelete {
	.pw-button-dropdown-toggle,
	#submit_publish,
	#submit_save_unpublished,
	#submit_save,
	#submit_save_top {
		display: none;
	}
}

#PageIDIndicator {
	display: none; 
}

#_ProcessPageEditView {
	padding-right: 0 !important;
}

#_ProcessPageEditViewDropdownToggle {
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px; 
	text-decoration: none;
}

/*
Styles that no longer appear to be applicable, but kept in comments temporarily just in case

#PageEditTabs {
	margin: 0 0 1em 0; 
}

#wrap_AddPageBtn,
#wrap_AddPageBtn .InputfieldContent {
	float: none; 
}

// Provide an obvious left margin for the parent page selector list
.InputfieldPageListSelect .PageListRoot > .PageList {
	margin-left: 2em; 
}

// Position the submit buttons horizontal to each other by making them inline
.Inputfields .InputfieldSubmit,
.Inputfields .InputfieldSubmit .ui-widget-content {
        display: inline; 
}

// Alternative to the above, float the publish button left for side-by-side buttons
#submit_publish {
    float: left; 
}

 // Hide the edit/view/move actions for first (current) page since they aren't applicable in this context
#ProcessPageEditChildren .PageListRoot > .PageList > .PageListItemOpen {
	.PageListActionEdit,
	.PageListActionView,
	.PageListActionMove {
		display: none !important;
	}
}
#status li {
	display: inline;
	margin-right: 0.5em;
}
#submit_save_top {
	position: absolute; 
	right: 0;
	margin: 0;
	top: 0;
}
*/

