


#ProcessPageSearchSubmit {
	display: none;
}

#ProcessPageSearchResults.show_options {
	padding-left: 260px;
}

#ProcessPageSearchResults:after { /* clearfix */
	content: ".";
	display: block;
	height: 0;
	clear: both; 
	visibility: hidden;
}

#ProcessPageSearchOptions {
	float: left;
	width: 240px;
}

#ProcessPageSearchOptionsForm .Inputfields li {
	margin-top: 0;
}

#ProcessPageSearchOptionsForm p {
	margin-top: 0;
}

#ProcessPageSearchOptionsForm label {
	display: block;
}

#ProcessPageSearchOptionsForm select {
	width: 210px;
}

#ProcessPageSearchOptionsForm input[type=text] {
	width: 202px;
}

#ProcessPageSearchShortcuts a {
	display: block;
	border-top: 1px dotted #ccc; 
}

#ProcessPageSearchForm {
	position: relative; 
}

#ProcessPageSearchForm label {
	position: absolute;
	top: 1px; 
	right: 0.5em; 
	z-index: 1;
	opacity: 0.3;
}

.pw-search-list .pw-wiretabs-item {
	padding-top: 1em;
}

