input.InputfieldIconSearch {
	width: 200px;
	vertical-align: middle;
}
.InputfieldIconAll {
	overflow: visible !important;
	margin-top: 12px;
	text-align: justify;
}
.InputfieldIconAll .fa.fw,
.InputfieldIconAll .InputfieldIconItem {
	padding: 7px 6px;
	font-size: 16px !important;
	transition: all 0.16s;
	min-width: 34px;
	text-align: center;
	backface-visibility: hidden;
}
.InputfieldIcon .fa.fw:hover,
.InputfieldIconItem:hover {
	background: #E2E9EF; /* overridden by admin theme */
	cursor: pointer;
	border-radius: 3px;
}
.InputfieldIcon .fa.fw.on,
.InputfieldIconItem.on {
	background: #d52978; /* overridden by admin theme */
	color: white;
	border-radius: 3px;
}

.InputfieldIcon .fa.fw:active,
.InputfieldIconItem:active {
	animation: 0.16s zoomIcon 0.3s forwards;
	z-index: 200;
}
.InputfieldIcon .fa.fw::after,
.InputfieldIconItem::after {
	content: attr(title);
	color: inherit;
	position: absolute;
	top: 100%;
	margin-top: -3px;
	font-size: 4px;
	letter-spacing: 0;
	left: 0;
	right: 0;
	padding-bottom: 2px;
	backface-visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
.InputfieldIcon .fa.fw:active::after,
.InputfieldIconItem:active::after {
	background: #E2E9EF; /* overridden by admin theme */
	opacity: 1;
	pointer-events: none;
}

@keyframes zoomIcon {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(4);
		color: inherit;
		pointer-events: none;
	}
}
