/**
 * PageList content
 *
 */

.pw-content {

	/**
	 * Actions: like the "|edit|view|new" in the PageList
	 *
	 */

	.PageListActions {
		margin-left: -2px;
	}

	.PageListStatusIcon {
		color: lighten($text-color, 40%);
		font-size: 14px;
	}

	.actions {
		line-height: 1.2em;
	}
	ul.actions li,
	.PageListActions li,
	li.action {
		border: none;
		padding: 0 1px;
		margin: 0;
		margin-right: 3px;

	}
	ul.actions li:first-child:before,
	.PageListActions li:first-child:before,
	li.action:first-child:before {
		content: "\203A";
		margin-right: 3px;
		color: lighten($text-color, 50%);
	}

	li.action a, .actions a,
	.PageList .actions a,
	.PageListMoveNote a {
		/* action links */
		color: $action-link-color;
		background: $action-link-bg;
		padding: 0 4px 0 4px;
		display: inline-block;
		font-size: $action-link-font-size;
		border-radius: 3px;
		border: $action-link-border !important;
		font-weight: $bold-weight;
	}
	.actions a.ui-state-active, 
	li.action a:hover, .actions a:hover,
	.PageList .actions a:hover,
	.PageListMoveNote a:hover {
		/* action links hovered */
		color: $action-link-hover-color;
		background: $action-link-hover-bg;
		border: $action-link-hover-border;
	}

	.PageListMoveNote {
		text-transform: lowercase;
		cursor: move;
	}

	/*
	.PageListItem > a span + span:before {
		content: " / ";
		color: lighten($text-color,50%); 
	}
	*/

	.PageListActionMore a {
		margin-top: 0.25em;
	}

	.PageListSelectName {
		margin-right: 0.5em;
		i {
			margin-right: 0.25em;
		}
	}

	/**
	 * PageList
	 *
	 */

	.PageList {

		.PageListItem {
			border-bottom: 1px dotted lighten($subtle-border, 4%);
			padding-top: 0.35em;
			padding-bottom: 0.35em;
			line-height: 1.3em;

			> a.PageListPage {
				color: $pagelist-link-color;
				opacity: 1.0;

				&:hover {
					text-decoration: underline;
					color: $pagelist-link-hover-color;

					i {
						text-decoration: none;
					}
				}

				&:active {
					text-decoration: underline;
					color: $pagelist-link-active-color;
				}

				i {
					/* icon */
					padding: 0 0.25em 0 0;
					color: $pagelist-link-icon-color;

					&.PageListStatusIcon {
						color: #777;
					}
				}
			}

			.PageListLoading {
				top: 5px;
			}

		}

		.PageListItemOpen {
			> a.PageListPage {
				color: $pagelist-link-open-color;
				background-color: $pagelist-link-open-bg;
			}
		}

		.PageListStatusHidden { //:not(.PageListItemOpen) {
			> a.PageListPage {
				opacity: 0.6;
			}
		}

		.PageListStatusTemp:not(.PageListItemOpen) {
			> a.PageListPage {
				opacity: 0.3;
			}
		}

		.PageListPlaceholderItem {
			border: none;
			padding: 0;
		}

		.PageListNumChildren {
			font-size: 0.833333em;
		}

	}

	.PageListUseHoverActions .PageList .PageListItemOpen {
		border-bottom: 1px solid lighten($subtle-border, 2%);
	}
}

.PageListPagination a {
	margin-bottom: 5px; 
}

.pw-dropdown-menu {
	.PageListStatusUnpublished {
		text-decoration: line-through;
	}

	.PageListStatusHidden {
		opacity: 0.5;
	}

	.PageListStatusNotEditable {
		cursor: not-allowed;
	}
}

