#ProcessLister {
  margin-top: -2px; }

#ProcessListerResultsTab {
  padding-top: 0.5em; }

#ProcessListerResults > form.InputfieldForm {
  margin-bottom: 0; }
#ProcessListerResults #ProcessListerTable {
  clear: both;
  overflow-x: auto; }
  #ProcessListerResults #ProcessListerTable > div {
    margin-top: 0; }
#ProcessListerResults #ProcessListerTable table.ProcessListerTable {
  clear: both;
  position: relative;
  margin-top: 0; }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable td table {
    width: 100%; }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead th {
    font-size: 0.857142857142857em; }
    #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead th i {
      font-size: 14px; }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead th strong {
    white-space: nowrap; }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead th b,
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead .th b {
    display: none; }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > thead th:first-child {
    padding-left: 0;
    /* reno */ }
  #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td {
    font-size: 0.928571428571429em; }
    #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td:first-child, #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td:first-child > a {
      padding-left: 0;
      /* reno */ }
    #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td ul.MarkupFieldtype {
      margin: 0;
      padding-left: 0; }
      #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td ul.MarkupFieldtype > li {
        list-style: none;
        margin: 0;
        padding-left: 0; }
      #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td ul.MarkupFieldtype > li + li {
        border-top: 1px solid #eee; }
    #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td > *:first-child, #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td .col_preview > *:first-child {
      margin-top: 0; }
    #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td > *:last-child, #ProcessListerResults #ProcessListerTable table.ProcessListerTable > tbody > tr > td .col_preview > *:last-child {
      margin-bottom: 0; }
#ProcessListerResults .PageListerActions {
  display: none;
  line-height: 1.3em;
  text-transform: lowercase; }
  #ProcessListerResults .PageListerActions a.PageExtra {
    margin-bottom: 3px; }
  #ProcessListerResults .PageListerActions a.PageExtras i {
    margin-left: 3px;
    margin-right: 2px; }
  #ProcessListerResults .PageListerActions a.PageExtras.open i {
    margin-left: 2px;
    margin-right: 3px; }
#ProcessListerResults .row_message {
  display: inline; }
#ProcessListerResults .PageListStatusUnpublished {
  text-decoration: line-through;
  opacity: 0.5; }
#ProcessListerResults .PageListStatusHidden {
  opacity: 0.5; }
#ProcessListerResults .MarkupPagerNav {
  float: right; }
#ProcessListerResults .nobr {
  white-space: nowrap; }
#ProcessListerResults table + .MarkupPagerNav {
  margin: 0; }
#ProcessListerResults .datetime {
  white-space: nowrap; }
#ProcessListerResults td:not(.col_editing) .InputfieldHasFileList .InputfieldHeader {
  display: none; }
#ProcessListerResults td:not(.col_editing) .InputfieldHasFileList .InputfieldContent {
  padding: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px; }
@media only screen and (max-width: 767px) {
  #ProcessListerResults table.ProcessListerTable + .MarkupPagerNav {
    margin-bottom: 1em; }
  #ProcessListerResults .MarkupPagerNav {
    float: none; } }

.AdminDataTable p {
  margin: 1em 0; }

#ProcessListerResults + a button {
  float: left;
  margin-right: 0;
  margin-top: 0; }

#ProcessListerSpinner {
  margin-left: 0.5em;
  font-size: 20px;
  position: relative; }
  #ProcessListerSpinner i {
    position: absolute;
    top: -15px;
    left: 0; }

.pw-content .lister_headline,
#content .lister_headline {
  float: left;
  margin-top: 1em; }
  @media only screen and (max-width: 767px) {
    .pw-content .lister_headline,
    #content .lister_headline {
      float: none;
      clear: both; } }

#lister_open_cnt {
  display: none; }

#filters_spinner {
  float: right;
  margin-top: 4px; }

#ProcessListerRefreshTab {
  float: right; }

#ProcessListerSelector {
  display: inline-block; }

p.version {
  clear: both; }

#ProcessListerScript {
  display: none; }

#table_bookmarks {
  margin-top: 0.5em; }

.AdminThemeReno a.lister-lightbox {
  padding: 0 !important; }
.AdminThemeReno a.lister-lightbox img {
  margin: 0 !important; }
.AdminThemeReno #content .lister_headline {
  margin-top: 0.5em; }
