.import-form-item > .InputfieldContent p {
	margin: 0;
}

.import-form-item > .InputfieldContent input, 
.import-form-item > .InputfieldContent label {
	display: inline;
}

.import-form-item > .InputfieldContent p.import-form-item-input {
	margin-top: 0.25em;
}

.import-error {
	color: crimson;
}
