
/**
 * General editor styles (inline only)
 *
 * See contents.css for regular mode styles. 
 *
 */

$cke-font-family: Arial, sans-serif; 
$cke-font-color: #333; 
$cke-background: #fff;

$cke-headline-color: #222; 

$cke-link-color: #444; 
$cke-link-background: none; 
$cke-link-hover-color: #222; 
$cke-link-hover-background: #ffffdd;

.InputfieldForm .InputfieldCKEditorInline {

	font-family: $cke-font-family;

	p, li, dl, td {
		font-size: 1em; 
		color: $cke-font-color;
		background: $cke-background; 
	}

	a {
		color: $cke-link-color;
		background: $cke-link-background;
		text-decoration: underline; 

		&:hover {
			color: $cke-link-hover-color;
			background: $cke-link-hover-background; 
		}
	}

	i, em {
		font-style: italic; 
	}

	b, strong {
		font-weight: bold; 
	}

	strong em,
	em strong {
		font-weight: bold; 
		font-style: italic; 
	}

	small {
		font-size: 0.875em;
	}

	ul li,
	ol li {
		list-style: disc;
		display: list-item; 
		margin: 0 0 0 2em;
	}

	ol li {
		list-style: decimal;
	}

	blockquote {
		padding-left: 1em;
		border-left: 3px solid #ccc; 
	}

	h1, h2, h3, h4, h5 {
		color: $cke-headline-color; 
		font-family: $cke-font-family;
		font-weight: normal;
		text-transform: none; 
	}

	h1 {
		font-size: 2.0em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em; 
	}
	h4 {
		font-size: 1.3em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1.1em;
	}

	table td,
	table th {
		padding: 3px; 
	}

	table th {
		font-weight: bold; 
	}
	
	img {

		.cke_anchor {
			display: inline;
		}
	}

	figure {
		display: table;
		margin: 1em 0;
		figcaption {
			display: table-caption;
			caption-side: bottom;
			line-height: 1.3em;
			color: #777;
			font-size: 13px;
		}
	}

	img,
	figure {
		&.right,
		&.align_right,
		&.align-right {
			/* RCD */
			float: right;
			margin-left: 15px;
			margin-right: 0;
			margin-top: 0;
		}
		&.left,
		&.align_left,
		&.align-left {
			/* RCD */
			float: left;
			margin-top: 0;
			margin-left: 0;
			margin-right: 15px;
		}
		&.align_center,
		&.align-center {
			/* RCD */
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

}
